{
    "openapi": "3.0.0",
    "info": {
        "title": "Zytrixon Truck Billing API",
        "description": "Official API documentation for the Zytrixon Truck Billing mobile application.",
        "contact": {
            "email": "admin@zytrixon.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://truckdriving.zytrixontech.com",
            "description": "Production Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local Development Server"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request a password reset link",
                "description": "Sends a password reset link to the user's email.",
                "operationId": "20d78161b19ac6afb56924e74974ec46",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "owner@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset link sent successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password using token",
                "description": "Update the user's password using a valid reset token.",
                "operationId": "0a6624b616e4ba5a310a61d9f7418c35",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "token"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "owner@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "token": {
                                        "type": "string",
                                        "example": "token-string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login to the appliction",
                "description": "Authenticate a user and return a token with profile data.",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@zytrixon.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User logged in successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|xxx"
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user (Fleet Owner)",
                "description": "Create a new account and return an authentication token.",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "Doe Logistics"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|xxx"
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user profile",
                "operationId": "961ad57987905b44ae2e2f40b82e76de",
                "responses": {
                    "200": {
                        "description": "Profile retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout the user",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Successfully logged out"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/profile": {
            "post": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Update authenticated user profile",
                "description": "Update profile details including profile photo. Use POST with _method=PUT for multipart support.",
                "operationId": "91acbbb88b77ea02b8e44b3e929a0111",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email"
                                ],
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Updated"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "New Street, City"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "My Trucking Co"
                                    },
                                    "profile_photo": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user/change-password": {
            "post": {
                "tags": [
                    "User Profile"
                ],
                "summary": "Change authenticated user password",
                "operationId": "510c6e5d1dd13eee4cfd6a02ff35e6c4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "oldpassword123"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully"
                    },
                    "400": {
                        "description": "Invalid current password"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dealers": {
            "get": {
                "tags": [
                    "Dealers"
                ],
                "summary": "Get all dealers",
                "operationId": "07eff7741b85608af9df36f6cb1b23a3",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dealers retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Dealers"
                ],
                "summary": "Create a new dealer",
                "operationId": "f4afa96bda35d08b5d8f90ca5a783fa4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_name",
                                    "contact_person_name",
                                    "phone_number"
                                ],
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "ABC Logistics"
                                    },
                                    "contact_person_name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@abc.com",
                                        "nullable": true
                                    },
                                    "gstin": {
                                        "type": "string",
                                        "example": "22AAAAA0000A1Z5",
                                        "nullable": true
                                    },
                                    "pan_number": {
                                        "type": "string",
                                        "example": "ABCDE1234F",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Mumbai",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Dealer created successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dealers/{id}": {
            "get": {
                "tags": [
                    "Dealers"
                ],
                "summary": "Get specific dealer details",
                "operationId": "a94ce2ff231fb4c8cd122f8075bfe7c1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dealer retrieved successfully"
                    },
                    "404": {
                        "description": "Dealer not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Dealers"
                ],
                "summary": "Update a dealer",
                "operationId": "6820cbe31c53812e59a46bac7c1b13ec",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_name",
                                    "contact_person_name",
                                    "phone_number"
                                ],
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "ABC Logistics Updated"
                                    },
                                    "contact_person_name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@abc.com",
                                        "nullable": true
                                    },
                                    "gstin": {
                                        "type": "string",
                                        "example": "22AAAAA0000A1Z5",
                                        "nullable": true
                                    },
                                    "pan_number": {
                                        "type": "string",
                                        "example": "ABCDE1234F",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Navi Mumbai",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dealer updated successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "404": {
                        "description": "Dealer not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Dealers"
                ],
                "summary": "Delete a dealer",
                "operationId": "76901636bd7aa68122dbdcecc04c1a7c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dealer deleted successfully"
                    },
                    "404": {
                        "description": "Dealer not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/drivers": {
            "get": {
                "tags": [
                    "Drivers"
                ],
                "summary": "Get all drivers",
                "operationId": "b7e92c879078ab66ae9f678f5c362697",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Drivers retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Drivers"
                ],
                "summary": "Create a new driver",
                "operationId": "af273841718d9047cc3bfb8800ddf839",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Driver John"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "driver@zytrixon.com",
                                        "nullable": true
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "license_number": {
                                        "type": "string",
                                        "example": "DL-123456789",
                                        "nullable": true
                                    },
                                    "aadhar_number": {
                                        "type": "string",
                                        "example": "123456789012",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Delhi",
                                        "nullable": true
                                    },
                                    "blood_group": {
                                        "type": "string",
                                        "example": "O+",
                                        "nullable": true
                                    },
                                    "license_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "aadhar_document": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Driver created successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/drivers/{id}": {
            "get": {
                "tags": [
                    "Drivers"
                ],
                "summary": "Get specific driver details",
                "operationId": "d9cf238ff4b89ab316ece12c02325694",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver retrieved successfully"
                    },
                    "404": {
                        "description": "Driver not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Drivers"
                ],
                "summary": "Update a driver",
                "description": "Update driver details and documents. Use POST with _method=PUT for multipart/form-data support.",
                "operationId": "96a7f4c0319067bcca67bdbdb35af788",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "mobile_number"
                                ],
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Driver John Updated"
                                    },
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "driver@zytrixon.com",
                                        "nullable": true
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123",
                                        "nullable": true
                                    },
                                    "license_number": {
                                        "type": "string",
                                        "example": "DL-123456789",
                                        "nullable": true
                                    },
                                    "aadhar_number": {
                                        "type": "string",
                                        "example": "123456789012",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Delhi NCR",
                                        "nullable": true
                                    },
                                    "blood_group": {
                                        "type": "string",
                                        "example": "A+",
                                        "nullable": true
                                    },
                                    "license_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "aadhar_document": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Driver updated successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "404": {
                        "description": "Driver not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Drivers"
                ],
                "summary": "Delete a driver",
                "operationId": "c6348f243b3c9f0a446e28b95b90a678",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Driver deleted successfully"
                    },
                    "404": {
                        "description": "Driver not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/expense-categories": {
            "get": {
                "tags": [
                    "Expense Categories"
                ],
                "summary": "Get all expense categories",
                "operationId": "7775b3b56b348d9fe63d545529fcb5c4",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categories retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Expense Categories"
                ],
                "summary": "Create a new expense category",
                "operationId": "69dcd1e98d786384d56af5bbd9ec374b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Fuel"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/expense-categories/{id}": {
            "put": {
                "tags": [
                    "Expense Categories"
                ],
                "summary": "Update an expense category",
                "operationId": "f60ad3861267120b1042e98b6c5bf1a4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Fuel (Petrol)"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Expense Categories"
                ],
                "summary": "Delete an expense category",
                "operationId": "50c0c439731d3f9e64cc64e8e0bcab9d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get user notifications",
                "operationId": "3787b2cd3e17cdabb9b83e850f48b4fa",
                "responses": {
                    "200": {
                        "description": "Notifications retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/{id}/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark a notification as read",
                "operationId": "74e5c2672d6ea62323361647be625c3e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification marked as read"
                    },
                    "404": {
                        "description": "Notification not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/notifications/read-all": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as read",
                "operationId": "5c30c28811bb5757fae43fa8cfea76b6",
                "responses": {
                    "200": {
                        "description": "All notifications marked as read"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips": {
            "get": {
                "tags": [
                    "Trips"
                ],
                "summary": "Get all trips",
                "description": "Retrieve a paginated list of trips based on the authenticated user's role.",
                "operationId": "edefb369ed6527e9afd948b101a74b9f",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by location, truck, or ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "Start date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "End date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trips retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Trips"
                ],
                "summary": "Create a new trip",
                "operationId": "c27804b77dfcd9567f2dba32b2931dad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "vehicle_id",
                                    "driver_id",
                                    "from_location",
                                    "to_location",
                                    "start_date"
                                ],
                                "properties": {
                                    "vehicle_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "driver_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "dealer_id": {
                                        "type": "integer",
                                        "example": 3,
                                        "nullable": true
                                    },
                                    "from_location": {
                                        "type": "string",
                                        "example": "DELHI"
                                    },
                                    "to_location": {
                                        "type": "string",
                                        "example": "MUMBAI"
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Trip created successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{id}": {
            "get": {
                "tags": [
                    "Trips"
                ],
                "summary": "Get specific trip details",
                "operationId": "73566c003dc292ba95537ba7c85c3889",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trip details retrieved successfully"
                    },
                    "404": {
                        "description": "Trip not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{id}/status": {
            "put": {
                "tags": [
                    "Trips"
                ],
                "summary": "Update trip status",
                "operationId": "9b0c3f7ad72b053af7b6d74520cb20ac",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "in_transit",
                                            "completed"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{id}/end": {
            "post": {
                "tags": [
                    "Trips"
                ],
                "summary": "End a trip",
                "description": "Marks trip as completed and releases the vehicle.",
                "operationId": "59d23b63fda895b308d8e28c9b90824f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trip ended successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{id}/download-invoice": {
            "get": {
                "tags": [
                    "Trips"
                ],
                "summary": "Download trip invoice/ledger PDF",
                "description": "Generates and downloads a comprehensive PDF report of the trip including billings and transactions.",
                "operationId": "ce56821b2746c7b9afb29654c4e19fde",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF stream"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Trip not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{trip_id}/billings": {
            "get": {
                "tags": [
                    "Trip Billings"
                ],
                "summary": "Get all billing entries for a trip",
                "description": "Returns all multi-party billing entries for a specific trip.",
                "operationId": "7bf79049b89b03d9d4d1e1795f34c047",
                "parameters": [
                    {
                        "name": "trip_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Billings retrieved successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Trip not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Trip Billings"
                ],
                "summary": "Add a billing entry to a trip",
                "description": "Creates a new party billing entry for a specific trip.",
                "operationId": "c54df44bc2c2264704450f63407e1d30",
                "parameters": [
                    {
                        "name": "trip_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "freight_amount"
                                ],
                                "properties": {
                                    "party_name": {
                                        "type": "string",
                                        "example": "ABC Corp"
                                    },
                                    "material_description": {
                                        "type": "string",
                                        "example": "Cement"
                                    },
                                    "weight_tons": {
                                        "type": "number",
                                        "example": 15.5
                                    },
                                    "freight_amount": {
                                        "type": "number",
                                        "example": 25000
                                    },
                                    "received_amount": {
                                        "type": "number",
                                        "example": 5000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Billing added successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/billings/{id}": {
            "get": {
                "tags": [
                    "Trip Billings"
                ],
                "summary": "Get a specific billing entry",
                "description": "Returns details of a single trip billing entry.",
                "operationId": "ab85fbf08b2e1038fce5fe656ac2e59f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Billing details retrieved successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Billing not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Trip Billings"
                ],
                "summary": "Update a billing entry",
                "operationId": "6e762579dd9a1ec555fc70bb994a90f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "freight_amount"
                                ],
                                "properties": {
                                    "party_name": {
                                        "type": "string",
                                        "example": "ABC Corp"
                                    },
                                    "material_description": {
                                        "type": "string",
                                        "example": "Cement"
                                    },
                                    "weight_tons": {
                                        "type": "number",
                                        "example": 15.5
                                    },
                                    "freight_amount": {
                                        "type": "number",
                                        "example": 26000
                                    },
                                    "received_amount": {
                                        "type": "number",
                                        "example": 6000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Billing updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Trip Billings"
                ],
                "summary": "Delete a billing entry",
                "operationId": "b3c451978ae086e2c9e808d8cab6ab40",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Billing deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/trips/{trip_id}/transactions": {
            "get": {
                "tags": [
                    "Trip Transactions"
                ],
                "summary": "Get all transactions for a trip",
                "description": "Returns all expense and recovery transactions for a specific trip.",
                "operationId": "acaef88b40108da52dec552e892174dd",
                "parameters": [
                    {
                        "name": "trip_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Trip not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Trip Transactions"
                ],
                "summary": "Add a transaction to a trip",
                "description": "Creates an expense or recovery transaction for a specific trip, adjusting wallets automatically.",
                "operationId": "2eb73690296e62bec1093d11badd554b",
                "parameters": [
                    {
                        "name": "trip_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "transaction_type",
                                    "expense_category_id",
                                    "amount",
                                    "payment_mode"
                                ],
                                "properties": {
                                    "transaction_type": {
                                        "type": "string",
                                        "enum": [
                                            "expense",
                                            "recovery"
                                        ]
                                    },
                                    "expense_category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "amount": {
                                        "type": "number",
                                        "example": 500
                                    },
                                    "payment_mode": {
                                        "type": "string",
                                        "enum": [
                                            "wallet",
                                            "owner_bank",
                                            "fastag"
                                        ]
                                    },
                                    "remarks": {
                                        "type": "string",
                                        "example": "Toll tax"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transaction added successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/transactions/{id}": {
            "get": {
                "tags": [
                    "Trip Transactions"
                ],
                "summary": "Get a specific transaction",
                "description": "Returns details of a single trip transaction.",
                "operationId": "d35ef6298319e411a1a9216aac75acd2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction details retrieved successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Transaction not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Trip Transactions"
                ],
                "summary": "Update a transaction",
                "description": "Updates an existing transaction and adjusts wallets by reversing the old value and applying the new one.",
                "operationId": "745fe586ee09e428b0ec282d1a775b92",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "amount",
                                    "expense_category_id"
                                ],
                                "properties": {
                                    "expense_category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "amount": {
                                        "type": "number",
                                        "example": 600
                                    },
                                    "remarks": {
                                        "type": "string",
                                        "example": "Updated toll tax"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transaction updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Trip Transactions"
                ],
                "summary": "Delete a transaction",
                "description": "Deletes a transaction and reverses its effect on the driver wallet.",
                "operationId": "86ad4e8902634fd885584ee5a0194767",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Super Admin Users"
                ],
                "summary": "Get all users",
                "operationId": "5c2f392a6e65ff2585e59ccce04cb7c2",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Users retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{id}/toggle-block": {
            "post": {
                "tags": [
                    "Super Admin Users"
                ],
                "summary": "Block or unblock a user",
                "operationId": "7ed0d499f7a70124408347b77fab2659",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User blocked/unblocked successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{id}/reset-password": {
            "post": {
                "tags": [
                    "Super Admin Users"
                ],
                "summary": "Reset a user password manually",
                "operationId": "04d735b0a80d689c0d1f4f9e9921cc19",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/vehicles": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get all vehicles",
                "operationId": "028ac63ffd1730fb647999d1bc6e77d9",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicles retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Create a new vehicle",
                "operationId": "a396cd54d88d3edeb8c6488411c67eb3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "truck_number",
                                    "truck_type",
                                    "chassis_number",
                                    "engine_number"
                                ],
                                "properties": {
                                    "truck_number": {
                                        "type": "string",
                                        "example": "MH-12-AB-1234"
                                    },
                                    "truck_type": {
                                        "type": "string",
                                        "example": "Open Body"
                                    },
                                    "capacity_tons": {
                                        "type": "number",
                                        "example": 10.5,
                                        "nullable": true
                                    },
                                    "rc_number": {
                                        "type": "string",
                                        "example": "RC123456",
                                        "nullable": true
                                    },
                                    "chassis_number": {
                                        "type": "string",
                                        "example": "CH123456789"
                                    },
                                    "engine_number": {
                                        "type": "string",
                                        "example": "EN123456789"
                                    },
                                    "insurance_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "fitness_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "national_permit_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "pollution_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "rc_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "insurance_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "fitness_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "truck_photo": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Vehicle created successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/vehicles/stats": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get vehicle statistics",
                "operationId": "142da73bab186990da0df95243a19362",
                "responses": {
                    "200": {
                        "description": "Stats retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/vehicles/{id}": {
            "get": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Get specific vehicle",
                "operationId": "82267179ee94cba8d4d423f4265030c5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicle retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Update an existing vehicle",
                "description": "Update vehicle details and documents. Use standard POST for multipart/form-data support.",
                "operationId": "8ea26ba35c5b7349d898ec9b8644db32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "truck_number": {
                                        "type": "string",
                                        "example": "MH-12-AB-1234"
                                    },
                                    "truck_type": {
                                        "type": "string",
                                        "example": "Open Body"
                                    },
                                    "capacity_tons": {
                                        "type": "number",
                                        "example": 10.5,
                                        "nullable": true
                                    },
                                    "rc_number": {
                                        "type": "string",
                                        "example": "RC123456",
                                        "nullable": true
                                    },
                                    "chassis_number": {
                                        "type": "string",
                                        "example": "CH123456789"
                                    },
                                    "engine_number": {
                                        "type": "string",
                                        "example": "EN123456789"
                                    },
                                    "insurance_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "fitness_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "national_permit_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "pollution_expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-03-20",
                                        "nullable": true
                                    },
                                    "rc_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "insurance_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "fitness_document": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "truck_photo": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "maintenance",
                                            "inactive"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vehicle updated successfully"
                    },
                    "422": {
                        "description": "Validation Error"
                    },
                    "404": {
                        "description": "Vehicle not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Vehicles"
                ],
                "summary": "Delete a vehicle",
                "operationId": "4f2a87a23897868a58932b23e8675fe4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vehicle deleted successfully"
                    },
                    "404": {
                        "description": "Vehicle not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wallets": {
            "get": {
                "tags": [
                    "Driver Wallets"
                ],
                "summary": "Get driver wallets",
                "description": "Owner gets all driver wallets, driver gets their own wallet.",
                "operationId": "6a93b0c63ef54f291bb0aa171e7cfe3e",
                "responses": {
                    "200": {
                        "description": "Wallets retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wallets/add-funds": {
            "post": {
                "tags": [
                    "Driver Wallets"
                ],
                "summary": "Add funds to a driver wallet",
                "operationId": "6d2d2d45ded68888dc9b03903fdca780",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "driver_id",
                                    "amount"
                                ],
                                "properties": {
                                    "driver_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "amount": {
                                        "type": "number",
                                        "example": 1000
                                    },
                                    "remarks": {
                                        "type": "string",
                                        "example": "Advance pay",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Funds added successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wallets/{id}/transactions": {
            "get": {
                "tags": [
                    "Driver Wallets"
                ],
                "summary": "Get wallet transaction history",
                "description": "Retrieves a paginated list of transactions for a specific wallet.",
                "operationId": "e802a787b2559435364e150e517f59c6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Wallet not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter your Laravel Sanctum bearer token here to authenticate.",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "User Profile",
            "description": "User Profile"
        },
        {
            "name": "Dealers",
            "description": "Dealers"
        },
        {
            "name": "Drivers",
            "description": "Drivers"
        },
        {
            "name": "Expense Categories",
            "description": "Expense Categories"
        },
        {
            "name": "Notifications",
            "description": "Notifications"
        },
        {
            "name": "Trips",
            "description": "Trips"
        },
        {
            "name": "Trip Billings",
            "description": "Trip Billings"
        },
        {
            "name": "Trip Transactions",
            "description": "Trip Transactions"
        },
        {
            "name": "Super Admin Users",
            "description": "Super Admin Users"
        },
        {
            "name": "Vehicles",
            "description": "Vehicles"
        },
        {
            "name": "Driver Wallets",
            "description": "Driver Wallets"
        }
    ]
}